.navy{
    background-image: url(img/snow.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(204, 0, 0);
 
}
.snowNight
{ 
    background-image: url(img/snow.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(204, 0, 0);
   
}
.container1
{
    background-color:rgba(255,126,86,0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:90%;
    background-size:cover;
}
.heading
{
    font-size: 300%;
    font-family: 'Dancing Script', cursive;
}
.contentText{
    font-family: 'Indie Flower', cursive;
    font-size: 150%;
    color: black;
    text-align: center;
}
.rezept{
    color: #E84F25;
  background-color: #E84F25;
  border-color: #03FFA2;
}
.rezept1
{
    background-color:rgba(255,126,86,0.7);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:90%;
    background-size:cover;
}
.centered
{
    font-family: 'Indie Flower', cursive;
    font-size: 115%;
}
.formdesign
{
    width:50%;
}
.margbot
{
    margin-bottom: 5%;
}